/* =================================
  Base Element Styles
==================================== */
html{
  font-family: 'Roboto', sans-serif;
  background: #F2F4F4;
}



/*=======================================
      media set up
========================================= */
@media screen and (min-width: 320px) {
  .topnav-right{
    display: flex;
    flex-direction: column;
  }
  body{
    width: 76%
  }
  .name{
    text-align: center;
    font-weight: bold;
    margin-left: 105px;
    margin-top: 55px;

  }
  .name2{
    text-align: left;
    font-weight: bold;
  }

  .topnav-right{
    text-align: right;
    padding: 25px 65px;
  }

  .nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 20px;
  }

  .intro {
    margin: 125px 0px;
    float:left;
    font-size: 18px;
    text-align: left;

  }

  .smile  img{
      width: 100%;
      height: auto;
      margin-left: 55px;
      padding: -10px;

    }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 5px;
    margin: 5px 10px 0px 55px;
     /* float: left; */
    width: 80%;
  }
  .port{
    text-align: center;
    padding-top:  25px;

  }
  .background{
    background: white;
    width: 260px;
  }

  .flex-container div {
    padding: 30px 30px;
    margin: 0px;
  }
  .imgstyle{
    float:left;
  }

  .imgstyle img{
    width: 255px;
    margin-left: -20px;
    float:left;
  }

  .market{
    text-align: center;
  }
  .Search{
    text-align: center;
  }

  .travel{
    text-align: center;
  }

  .map{
    text-align: center;

  }

  .photo {
    text-align: center;
  }

  .calculator{
    text-align: center;
  }

  .contact{

    padding: 0em 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-left: 120px;


  }

  .info{
    text-align: center;
    font-size: 18px;
  }

  .chat{
    font-weight: normal;
  }

  .phone{
    font-weight: normal;
  }

  .email{
    font-weight: normal;
  }
  .stuff{
    font-weight: bold;
  }

.intro{
  margin: 0px -5em 0px 1em;
  text-align: center;
}

.name2 {
float: left;
text-align: center;
padding: 0px 16px;
}
.top{
  float: right;
  margin-right: -55px;
}
.nav a{
  overflow: hidden;
  border: 5px solid white;
  background-color: #fff;
  margin-left: 50px;
}
.topnav-right{
    text-align: center;
    width: 80%;
    margin: 2px;

  }


  .port{
    text-align: center;
    padding-top: 25px;

  }

hr {
  width: 130%;
}

  .chat{
    font-weight: normal;
  }

  .phone{
    font-weight: normal;
  }

  .email{
    font-weight: normal;
  }
  .top{
    display: inline;
    text-decoration: none;
    color: #000;

  }
  .topnav-right2{
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .name{
    text-align: center;
    font-weight: bold;
    margin-left: 160px;
    margin-top: 20px;
  }

.nav a {
    background-color: #F2F4F4;
    border: none;
    margin: 20px;

 }
.topnav-right{
      display: inline-block;
      float: right;
      margin: -10px -93px;
  }
  .smile img{
    max-width: 52%;
    margin: 25px 0px 0px 27em;
  }
  .intro{
    text-align: left;
    margin: -12.3em 5px 10px 25px;
    font-size: 17px;

  }

  .background{
    width: 130%;

  }
  .flex-container div {
    padding: 25px 0px;
    margin:10px 0px 5px 10px;

  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 10px ;
    width: 125%;
    margin: 0px 8px;
  }
  .port{
    text-align: center;
    padding-top: 25px;

  }
  .imgstyle img {
    width: 300px;
    margin-left:1.3em;
    /* max-width: 100%; */
  height: auto;
  }
 img{
  margin: 0px 19px;
}
.imgstyle .map{
margin: 10px -5px 60px 12px;

}

.imgstyle .travel{
margin: 10px -5px 60px 25px;
}

.imgstyle .Search{
margin: 10px -5px 60px 18px;
}

.imgstyle .calculator{
margin: 10px -5px 60px 22px;
}
  .topnav-right2 {
    display: inline;
    text-align:  right;
    margin: 0px 55%;
  }
  .contact{
    padding: 0em 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-left: 180px;
  }

  hr {
    width: 130%;
  }

  .stuff{
    display: none;
  }
.name2{
    float: left;
    margin: 0px;
 }
}
@media screen and (min-width: 1024px){
  .name{
    text-align: left;
    font-weight: bold;
    margin: 20px 1em;
  }
  .name2{
    text-align: left;
    font-weight: bold;
  }

  .topnav-right{
    text-align: right;
    margin: -69px -14.6em;

  }

  .nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 20px ;
  }

  .intro {
    margin: -16em 2em;
    font-size: 20px;
    text-align: left;

  }


.smile img{
  width: 45%;
  padding-bottom: 80px;
  margin: 2em 0px 0px 36em;
}
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 5px;
    margin: 5px 10px 0px 19px;
     /* float: left; */
    width: 126%;
  }
  .port{
    text-align: center;
    padding-top:  25px;

  }

  .flex-container div {
    padding: 6px 5px;
    margin: -12px;
  }
  .imgstyle{
    float:left;
  }

  .market{
    text-align: center;
  }
  .Search{
    text-align: center;
  }

  .travel{
    text-align: center;
  }

  .map{
    text-align: center;
  }

  .photo {
    text-align: center;
  }

  .calculator{
    text-align: center;
  }
  .imgstyle .map{
  margin: 10px -5px 60px 5px;

  }
  .contact{
    margin: 0px 0px 0px 10em;
    padding: 2em 0px;
    padding-bottom: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;

  }

  .info{
    text-align: center;
    font-size: 18px;
  }

  .chat{
    font-weight: normal;
  }

  .phone{
    font-weight: normal;
  }

  .email{
    font-weight: normal;
  }
  .stuff{
    font-weight: bold;
  }
  .topnav-right2 {
    display: inline;
    text-align:  right;
    margin: 0px 70%;
  }

}
